<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Informacje</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas orci nisl, sit amet vestibulum tellus
        mattis nec. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
        turpis egestas. Fusce scelerisque convallis leo. Suspendisse pulvinar, leo non luctus malesuada, purus tellus
        posuere ligula, quis accumsan sapien libero eu mi. Suspendisse lacus libero, fringilla vel commodo non,
        pellentesque sed leo. Curabitur varius molestie risus, ac aliquet sapien tincidunt vitae. Praesent cursus
        blandit vestibulum. Suspendisse nulla turpis, sodales ac commodo vel, ultricies ac arcu.



      </p>
      <p> Pellentesque leo dolor, sollicitudin ac velit sed, volutpat fringilla metus. Nulla consequat nunc viverra
        mollis interdum. Nulla facilisi. Nulla faucibus lorem non est aliquam hendrerit vel et est. Integer ornare nisi
        sed orci hendrerit ullamcorper. Aenean finibus orci ex, eu ullamcorper ligula laoreet quis. Maecenas vitae metus
        ac arcu euismod rutrum. Morbi accumsan consectetur velit, sit amet lacinia odio imperdiet eget. Maecenas
        malesuada ut ligula quis aliquam. Donec quis sagittis risus.</p>
      <p> Fusce lectus augue, gravida vel turpis non, vulputate eleifend nunc. Sed tincidunt mauris nec mauris rhoncus
        pulvinar. Integer feugiat nisl et nunc ultrices bibendum. Integer ut dictum nisi. Mauris consectetur magna et
        est faucibus porttitor. Pellentesque tortor sem, consectetur id ligula a, vestibulum eleifend diam. Sed id urna
        quam. Cras rhoncus metus nisi, nec tincidunt lorem gravida sed. Donec nec velit feugiat, varius lectus sit amet,
        sodales mauris.</p>
    </div>
  </div>
</div>
